<li ngbDropdown class="d-inline-block" >
    <a class="nav-link dropdown-toggle" id="dropdown04" ngbDropdownToggle>Dropdown</a>
    <div class="dropdown-menu" aria-labelledby="dropdown04" ngbDropdownMenu #dropDown>
      <a class="dropdown-item" ngbDropdownItem >Action   <button type="button" class="close" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> </a>
      <a class="dropdown-item" ngbDropdownItem href="#">Another action</a>
      <a class="dropdown-item" ngbDropdownItem href="#">Something else here</a>
    </div>
  </li>