<div class="col-xl-12" >
 <figure class="card card-product">
   <div class="img-wrap"><img [src]="product.productPicUrl" [routerLink]= "['/home' , product.id]" style="cursor: pointer"></div>
   <figcaption class="info-wrap">
       <h4 class="title">{{product.name}}</h4>
   </figcaption>
   <div class="bottom-wrap">
     <a (click) = "onOrder(product.name , product.price)" class="btn btn-sm btn-primary float-right">Order Now</a>	
     <div class="price-wrap h5">
       <span class="price-new">{{product.price}}</span>
     </div> 
   </div> 
 </figure>
</div>   