<!-- <form [formGroup] = "signUpForm" (ngSubmit) = "onRegister()">

  <app-input [group] = 'signUpForm'[control] = "'username'" [for] = "'username'" [label] = "'User Name'" [type] = "'text'" [id] = "'username'" 
  [placeholder] = "'Enter Your UserName'"></app-input>

  <app-input [group] = 'signUpForm' [control] = "'email'" [for] = "'email'" [label] = "'Email Address'" [type] = "'email'" [id] = "'email'"
   [placeholder] = "'Enter Your Email Adress'"></app-input>

  <app-input  [group] = 'signUpForm' [control] = "'password'" [for] = "'password'" [label] = "'Password'" [type] = "'password'" [id] = "'password'" 
  [placeholder] = "'Enter Your Password'"></app-input> -->

  <!-- <app-input [group] = 'signUpForm' [control] = "'password_confirmation'" [for] = "'password_confirmation'" [label] = "'Password Confirmation'" [type] = "'password'" [id] = "'password_confirmation'"
   [placeholder] = "'Please Confirm Your Password'"></app-input> -->

  <!-- <app-submit [value] = "'Register'"></app-submit>
</form> -->


<div class="main">

  <section class="signup">
      <div class="container">
          <div class="signup-content">
              <form [formGroup] = "signUpForm" id="signup-form" class="signup-form" (ngSubmit) = "onRegister()">
                  <h2 class="form-title">Create account</h2>
                  
                  <app-input [group] = 'signUpForm'[control] = "'username'"  [type] = "'text'" [id] = "'username'" 
                  [placeholder] = "'Enter Your UserName'"></app-input>

                  <app-input [group] = 'signUpForm' [control] = "'email'"  [type] = "'email'" [id] = "'email'"
                  [placeholder] = "'Enter Your Email Adress'"></app-input>

                  <app-input  [group] = 'signUpForm' [control] = "'password'"  [type] = "'password'" [id] = "'password'" 
                  [placeholder] = "'Enter Your Password'"></app-input>

                  <app-submit [value] = "'Register'"></app-submit>

              </form>
              <p class="loginhere">
                  Have already an account ? <a routerLink = "/home/login" class="loginhere-link">Login here</a>
              </p>
          </div>
      </div>
  </section>

</div>