<form [formGroup] = "signUpForm">

  <app-input [group] = 'signUpForm'[control] = "'username'" [for] = "'username'" [label] = "'User Name'" [type] = "'text'" [id] = "'username'" 
  [placeholder] = "'Enter Your UserName'"></app-input>

  <app-input [group] = 'signUpForm' [control] = "'email'" [for] = "'email'" [label] = "'Email Address'" [type] = "'email'" [id] = "'email'"
   [placeholder] = "'Enter Your Email Adress'"></app-input>

  <app-input  [group] = 'signUpForm' [control] = "'password'" [for] = "'password'" [label] = "'Password'" [type] = "'password'" [id] = "'password'" 
  [placeholder] = "'Enter Your Password'"></app-input>

  <app-input [group] = 'signUpForm' [control] = "'password_confirmation'" [for] = "'password_confirmation'" [label] = "'Password Confirmation'" [type] = "'password'" [id] = "'password_confirmation'"
   [placeholder] = "'Please Confirm Your Password'"></app-input>

  <app-submit [value] = "'Register'"></app-submit>
</form>