<!-- <form [formGroup] = "signInForm" (ngSubmit) = "onLogin()">

    <app-input [group] = 'signInForm' [control] = "'email'"  [for] = "'email'" [label] = "'Email Address'" [type] = "'email'" [id] = "'email'" [placeholder] = "'Enter Your Email Adress'"></app-input>

    <app-input [group] = 'signInForm' [control] = "'password'"  [for] = "'password'" [label] = "'Password'" [type] = "'password'" [id] = "'password'" [placeholder] = "'Enter Your Password'"></app-input>

    <app-submit [value] = "'Login'"></app-submit>

</form> -->